[Unit]
Description=ecodroidgps service
After=bluetooth.service

[Service]
Restart=always
RestartSec=5
ExecStart=/bin/bash -c "cd /home/admin/ecodroidgps && ./start.sh"

[Install]
WantedBy=basic.target